/io-console/nbproject/private/
/stock-exchange/nbproject/private/
/familytree/nbproject/private/
/stockxchange/nbproject/private/
/stockexchange/nbproject/private/
/fighterjets-missile/nbproject/private/
/hr-process/nbproject/private/
/familytree/build/
/fighterjets-missile/build/
/io-console/build/
/iounit/nbproject/private/
/iounit/build/
/stockexchange/build/
/familytree/dist/